@import '~antd/dist/antd.less';

.screen {
  height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  border: 0.25px solid gray;
}

.side-panels {
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
}

.owner-panel {
  height: 20%;
  word-wrap: break-word;
  border: 0.5px solid gray;
}

.repo-panel {
  height: 50%;
  word-wrap: break-word;
  border: 0.5px solid gray;
}

.search-panel {
  height: 30%;
  word-wrap: break-word;
  border: 0.5px solid gray;
}