@import '~antd/dist/antd.less';

.screen {
  height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  border: 1px solid green;
}

.side-menu {
  color: white;
  align-items: space-evenly;
}

.menu-item {
  border: 1px solid white;
}